/*@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

@media (min-width:1281px) { /* hi-res laptops and desktops */
  body {
    /*font-family: "Baloo Chettan 2", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }

  header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1vh 4vw;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .header-on-scroll {
    background-color: rgb(33, 33, 33);
    height: 6%;
    z-index: 20;
  }

  header .headerLogo {
    cursor: pointer;
    width: 80px;
    height: 66px;
  }

  .header-on-scroll .headerLogo {
    width: 40px;
    height: 33px;
  }

  header button {
    padding: 9px 25px;
    background-color: #fff;
    color: #1c1c29;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-size: 18px;
  }


  .header-on-scroll button {
    font-size: 18px;
    color: #dbdbdb;
    background-color: transparent;
  }

  header .navLink {
    list-style: none;
  }

  header .navLink li {
    display: inline-block;
    padding: 0 20px;
  }

  header .navLink li a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #cacad8;
    font-size: 20px;
  }

  .header-on-scroll .navLink li a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #dbdbdb;
    font-size: 18px;
  }

  header .navLink li a:hover {
    text-shadow: rgb(216, 214, 219) 1px 0 4px;
  }

  .portada{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
  }

  .intro-photo {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .intro-text {
    position: fixed;
    top: 25%;
    left: 5%;
    width: 40%;
    height: 40%;
    font-size: 29px;
    color: #d3d0d6;
  }

  .intro-text h3{
    color: #d3d0d6;
  }

  .divider-main-bottom {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  /*.divider-main-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
  }

  .divider-main-bottom .shape-fill {
    fill: rgb(98, 103, 144);
  }
  */

  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack:center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgb(94, 96, 121);
    height: 58%;
    padding-top: 5vh;
    border-top: 2px solid #414359;
  }

  .cards .card {
    min-width: 10vw;
    width: 15vw;
    height: 30vh;
    -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
            box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 3vw;
  }

  .cards .card .box {
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    background: #e4e4e4;
    /*border: 2px solid #575757;*/
    border-radius: 15px;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
    height: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards .card .box:hover {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
            box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
  }

  .cards .card .box .content {
    padding: 20px;
    height: 23vh;
    text-align: center;
    align-items: center;
  }

  .cards .card .box .content h3 {
    font-size: 18px;
    color: #090909;
    z-index: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .cards .card .box .content p {
    font-size: 14px;
    font-weight: 300;
    color: #1b1b1b;
    z-index: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .card-link {
    position: relative;
    width: 40%;
    padding: 8px 20px;
    background: rgb(33, 33, 33);
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: white;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card-link:hover {
    background: #455184;
  }

  /*
  .cards .card:nth-child(1) .box .content a {
    background: #2196f3;
  }

  .cards .card:nth-child(2) .box .content a {
    background: red;
  }

  .cards .card:nth-child(3) .box .content a {
    background: green;
  }

  .cards .card:nth-child(4) .box .content a {
    background: orange;
  }
  */

  .divider-cards-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .divider-cards-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
  }

  .divider-cards-bottom .shape-fill {
    fill: #f2f3f8;
  }

  .contacto {
    background: #f2f3f8;
    position: absolute;
    top: 163%;
    width: 100%;
    height: 7%;
    padding-top: 5vh;
  }

  .contacto h2{
    color:#090909;
    text-align: center;
    font-size: 22px;
  }

  .contact-options {
    position: absolute;
    top: 170%;
    width: 100%;
    transform: skew(0, 2deg);
    padding-top: 4vh;
    z-index: 9;
  }

  .divider-contact-options {
    display: flex;
    background: #f2f3f8;
    transform: skew(0, -2deg);
    padding-bottom: 7vh;
    justify-content: center;
  }

  .wpp {
    position: relative;
    width: 35%;
    margin-right: 0%;
    align-items: center;
  }

  .wpp-content {
    margin-top: 6%;
    margin-bottom: 6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items:center;
  }

  .wpp-logo {
    height: 65px;
    width: 65px;
    margin-right: 1%;
  }

  .wpp-button {
    height: 59px;
    line-height: 59px;
    padding: 2px 3% 2px 3%;
    background-color: #075E54;
    color: #f5f3f3;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-size: 18px;
    text-decoration: none;
  }

  .wpp-button:hover {
    background-color: #012a25;
    color: #ffffff;
  }

  .redes {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .redes img{
    height: 65px;
    width: 65px;
    padding: 6px;
  }

  form {
    position: relative;
    width: 35%;
    max-width: 500px;
    border-radius: 15px;
  }

  .contact-title {
    color: #656161;
    text-align: center;
    font-size: 18px;
    margin-bottom: 3vh;
  }

  form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    border-radius: 3px;
    font-size: 14px;
  }

  form input:focus, form textarea:focus {
    outline: none;
  }

  form textarea {
    min-height: 100px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
  }

  form .submit {
    background: #404040;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
  }

  form .submit:hover {
    cursor: pointer;
    background: #0d0d0d;
  }

  .correcto {
    border: 2px solid #1ed84d;
  }

  .incorrecto {
    border: 2px solid #ec4c4c;
  }

  .false {
    display: none;
  }

  .true {
    color: white;
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }

  .nonSet {
    display: none;
  }

  .submit.validated {
    background: #33f04c;
  }

  .submit.not_validated {
    background: #f03333;
  }

  .certificate {
    height: 250px;
    width: 250px;
  }

  .experience {
    position: absolute;
    top: 221%;
    background-color: rgb(255, 255, 255);
    padding-top: 4vh;
    padding-bottom: 15vh;
    z-index: 10;
  }

  .experience h3 {
    text-align: center;
    font-size: 22px;
  }

  .experience-content {
    display:inline-flex;
    text-align: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .experience-content p {
    width: 40%;
  }

  .experience-content .certificate {
    padding-right: 2.5%;
  }

  .services {
    height: 50vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 265%;
    z-index: 11;
  }

  .services h1 {
    color: #fff;
    font-size: 20px;
  }

  .services p {
    padding: 5%;
    text-shadow: rgb(0, 0, 0) 2px 0 4px;
  }

  .services-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  .service-1, .service-2, .service-3, .service-4 {
    width: auto;
    height: 100%;
    text-align: center;
    color: white;
    padding: 20px;
    background-image: url("img/service-1.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .service-1 {
    background-image: url("img/service-1.jpg");
  }

  .service-2 {
    background-image: url("img/service-3.jpg");
  }

  .service-3 {
    background-image: url("img/service-2.jpg");
  }

  .footer {
    background-color: #000;
    position: absolute;
    top: 319%;
    width: 98%;
    height: 5%;
    color: #e9e9e9;
    padding-left: 2vw;
    z-index: 9;
  }

  #topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 55; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #455184; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding-bottom: 5px; /* Some padding */
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50%; /* Rounded corners */
    font-size: 50px; /* Increase font size */
  }
  
  #topBtn:hover {
    background-color: white; /* Add a dark-grey background on hover */
    color: black;
    border: 1px solid #455184;
  }

}

/*# sourceMappingURL=index-style.css.map */


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
  form {
    width: 100%;
  }
}

@media (max-width: 481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  form {
    width: 100%;
  }
}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }


